@model IEnumerable<ASPClientSchoolApp.Models.SchoolSubjectSetting>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example" id="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolToken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectToken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GradeToken)
                </th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeToken)
                </td>
                <td>
                    <a class="btn btn-success" onclick="Edit('@Url.Action("AddorEdit", "SchoolSubject", new { id=@item.SchoolSubjectSettingID })')"> <i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete", "SchoolSubject", new { id=@item.SchoolSubjectSettingID })')"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
