@model ASPClientSchoolApp.Models.AboutTable

@{
    ViewBag.Title = "AddorEdit";
    Layout = null;
}
<script src="~/Content/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("AddorEdit", "About", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_resetUrl = Url.Action("AddorEdit", "About", new { id = 0 }) })) //data-resetUrl
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AboutID)

    <div class="form-group">
        @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.TextAreaFor(model => model.Introduction, new { @class = "form-control", rows = "8", placeholder = "Introduction of School here..." })
            @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rules, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.TextAreaFor(model => model.Rules, new { @class = "form-control", rows = "8", placeholder = "Rules of School here..." })
            @Html.ValidationMessageFor(model => model.Rules, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Facilities, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.TextAreaFor(model => model.Facilities, new { @class = "form-control", rows = "8", placeholder = "Facilities of School here..." })
            @Html.ValidationMessageFor(model => model.Facilities, "", new { @class = "text-danger" })
        </div>
    </div>

    <div >
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Save</strong></button>

    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
